/**
==================================================================
EQUINOR

Font-weights:
- 300 (light)
- 400 (regular)
- 500 (medium)
- 700 (bold)

Font-styles:
- normal
- italic
==================================================================
*/

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-light/Equinor-Light.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-light/Equinor-Light.woff) format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-regular/Equinor-Regular.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-regular/Equinor-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-medium/Equinor-Medium.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-medium/Equinor-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-bold/Equinor-Bold.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-bold/Equinor-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-lightitalic/Equinor-LightItalic.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-lightitalic/Equinor-LightItalic.woff) format('woff');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-italic/Equinor-Italic.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-italic/Equinor-Italic.woff) format('woff');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-mediumitalic/Equinor-MediumItalic.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-mediumitalic/Equinor-MediumItalic.woff) format('woff');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: Equinor;
    src:
        url(https://webviz-cdn.azureedge.net/fonts/equinor-bolditalic/Equinor-BoldItalic.woff2) format('woff2'),
        url(https://webviz-cdn.azureedge.net/fonts/equinor-bolditalic/Equinor-BoldItalic.woff) format('woff');
    font-style: italic;
    font-weight: 700;
}
