._dash-loading-callback {
  
  animation: fadein 4.0s;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(./equinor_logo_animation.gif), 
                    radial-gradient(rgba(255, 255, 255, 0.9) 30%,
                                    rgba(255, 255, 255, 0.5) 90%);

  background-size: 150px, cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  cursor: progress;

}


@keyframes fadein {
    0%   { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 1; }
}
