:root {
  --menuLinkFont: Equinor;
  --menuLogoHeight: 75px;
  --menuBackground: #ffffff;
  --menuLinkBackgroundHover: #e2e5e7;
  --menuLinkBackgroundSelected: #eb0036;
  --menuLinkColor: #66737e;
  --menuLinkColorSelected: #ffffff;
  --menuLinkFontStyle: normal;
  --menuLinkFontWeight: 500;
  --menuLinkHoverColor: #243746;
  --bannerFontFamily: Equinor;
  --bannerFontWeight: 700;
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--menuLinkFont);
  color: #323232;
}

div {
  font-family: var(--menuLinkFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h2 {
  font-size: 4rem;
  line-height: 1.25;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h4 {
  font-size: 2.6rem;
  line-height: 1.35;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

h5 {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

h6 {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

a {
  color: var(--menuLinkColor);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: var(--menuLinkHoverColor);
}

a:active {
  color: var(--menuLinkColorSelected);
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px #e1e1e1 solid;
}

#LogoLarge {
  height: 100px;
  width: 200px;
  background-size: contain;
  background-image: url("https://cdn.eds.equinor.com/logo/equinor-logo-primary.svg#red");
  background-repeat: no-repeat;
}

#LogoSmall {
  height: 56px;
  width: 56px;
  background-size: contain;
  background-image: url("./equinor_logo_symbol.svg"); /* https://github.com/equinor/design-system/issues/1575 */
  background-repeat: no-repeat;
}

div.styledLogo.tab {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  text-align: left;
  box-sizing: none;
  padding: 20px 30px;
}

.webviz-config-markdown table {
  color: rgb(51, 51, 51);
  border: solid white;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
}

.webviz-config-markdown td {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  box-shadow: none;
}

.webviz-config-markdown th {
  background-color: rgb(255, 18, 67);
  color: white;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  box-shadow: none;
}

.webviz-config-markdown tr:nth-child(even) {
  background-color: rgb(255, 204, 207);
}

.webviz-config-markdown tr:nth-child(odd) {
  background-color: rgb(255, 231, 231);
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:not([disabled]):hover,
input[type="submit"]:not([disabled]):hover,
input[type="reset"]:not([disabled]):hover,
input[type="button"]:not([disabled]):hover,
.button:focus,
button:not([disabled]):focus,
input[type="submit"]:not([disabled]):focus,
input[type="reset"]:not([disabled]):focus,
input[type="button"]:not([disabled]):focus {
  -webkit-box-shadow: inset 0px 0px 0px 50px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: var(--menuLinkColor);
  border-color: var(--menuLinkColor);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: var(--menuLinkBackgroundHover);
  border-color: var(--menuLinkBackgroundHover);
}
